<nav class="navbar">
  <ul class="nav-menu">
    <li><a href="/">Home</a></li>
    <li class="dropdown">
      <a href="#">About</a>
      <ul class="dropdown-menu">
        <li><a href="/about/team.html">Team</a></li>
        <li><a href="/about/history.html">History</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#">Services</a>
      <ul class="dropdown-menu">
        <li><a href="/services/web-design.html">Web Design</a></li>
        <li><a href="/services/seo.html">SEO</a></li>
      </ul>
    </li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
</nav>
